body {
	font-family: calibri,sans-serif;
	background-color:#222;
	margin:0;
}


.header {

	background-color: #20f392;
	padding: 20px;
	display:block;
}

.header div{
	display:inline-block;
}


.logo {
	float:left;
	text-align:left;
	width:20%;
	font-weight:bolder;
	font-size:2em;
}



.logo img{
	position:relative;
	top:-10px;
}


.navigation {
	overflow: hidden;
	background-color: #20f392;
	text-align:center;
	width:60%;
}

.navigation a, .logo a {
	float: center;
	color: #222222;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.search {
	float:right;
	text-align:right;
	width:20%;
}

@media (max-width:900px){
	.logo {
  	font-size:1em;
  }
}

@media (max-width:800px){
  .navigation, .logo, .search {
    width:100%;
    text-align:center;
    display:inline-block;
    float:none;

  }

}

.navigation a:visited {
	color: #222222;
}

.navigation a:hover {
 	color: #222222;
}

.navigation a:active {
	color: #222222;
}







#container {
	text-align:center;

}

#chartdiv {
	width: 100%;
	height: 500px;
	color:#ffffff;
}


.welcome {
	font-family: calibri,sans-serif;
	font-weight:bolder;
	font-size:2em;
	;
}

.wait {
 	display:none;
 }

 #results {
 	font-size:3em;
 	font-weight:bold;
 	text-align:left;
 }